<!-- Social Buttons Start -->

<ul class="list-inline social-buttons">
    {% for network in site.social %}
    {% if network.title == "discord" %}
    <li><a href="{{ network.url }}" target="_blank"><i class="fa-brands fa-{{ network.title }} fa-fw"></i></a></li>
    {% else %}
    <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
    {% endif %}
    {% endfor %}
    {% if site.keybase-in-social %}
    <li><a href="https://keybase.io/{{site.keybase-username}}" target="_blank"><i class="fa fa-key fa-fw"></i></a></li>
    {% endif %}
</ul>

<!-- Social Buttons End -->
